@using GelatoGuide.Infrastructure
@model SearchArticlesViewModel

@{
    ViewBag.Title = "All Articles";
    if (this.User.IsAdmin())
    {
        ViewBag.AllowArticleEdit = true;
    }
}

<div class="jumbotron jumbotron-fluid"
     style="background-image: url(https://res.cloudinary.com/dmflbhinu/image/upload/v1627593182/GelatoGuide/Rafi_gelato_spuyt1.jpg);
            background-size: cover;
            opacity: 0.85">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div>
                <h1 class="display-3" style="text-shadow: 2px 2px 4px white; color: black">Блог статии</h1>
                <p class="lead font-weight-normal"
                   style="text-shadow: 2px 2px 4px white;
                          color: black">
                    Тук може да намерите най-новите блог статии, полезни съвети, места които да посетите
                </p>
                @if (User.IsInRole("Admin") || User.IsInRole("Premium"))
                {
                    <a class="btn text-dark btn-outline-light btn-sm font-weight-bold"
                       style="background-color: white"
                       asp-controller="Blog"
                       asp-action="CreateArticle">
                        Или да създадете нова статия
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 offset-3">
        <partial name="_ArticlesPartial" model="Model.Articles" />
    </div>

    @* Search area *@
    <div class="row col-3 justify-content-center">
        <form method="get">
            <div class="jumbotron" style="background-color: antiquewhite; ">
                <div class="form-group">
                    <label class="font-weight-light font-italic" style="font-size: 120%" asp-for="SearchTerm">Търсене:</label>
                    <input asp-for="SearchTerm" class="form-control" placeholder="Ключова дума..." />
                </div>
                <div class="form-group">
                    <label class="font-weight-lighter font-italic" style="font-size: 110%" asp-for="PostedByName">Автор</label>
                    <select asp-for="PostedByName" class="form-control">
                        <option value="">Всички</option>
                        @foreach (var name in Model.Names)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-lighter font-italic" style="font-size: 110%" asp-for="PostedByYear">Година</label>
                    <select asp-for="PostedByYear" class="form-control">
                        <option value="">Всички</option>
                        @foreach (var year in Model.Years)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-lighter font-italic" style="font-size: 110%" asp-for="PostedByMonth">Месец</label>
                    <select asp-for="PostedByMonth" class="form-control">
                        <option value="">Всички</option>
                        @foreach (var month in Model.Months)
                        {
                            <option value="@month">@month</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-light" value="Резултати" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}