@model SearchArticlesViewModel

@{
    ViewData["Title"] = "All Articles";
}


<div class="jumbotron jumbotron-fluid" 
     style="background-image: url(https://res.cloudinary.com/dmflbhinu/image/upload/o_80/v1627593182/GelatoGuide/Rafi_gelato_spuyt1.jpg);
            background-size: cover">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div>
                <h1 class="display-3" style="text-shadow: 2px 2px 4px white">Блог статии</h1>
                <p class="lead font-weight-normal" style="text-shadow: 2px 2px 4px white">Тук може да намерите най-новите блог статии, полезни съвети, места които да посетите,</p>
                <a class="btn text-dark btn-outline-dark btn-sm font-weight-bold" asp-controller="Blog" asp-action="CreateArticle">Или да създадете нова статия</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 offset-3">
        <div class="row col-12 justify-content-center">
            @foreach (var article in Model.Articles)
            {
                <div class="col-12">
                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@article.Id" class="text-dark">
                        <h3>@article.Title</h3>
                        <h4>@article.SubTitle</h4>
                    </a>
                    <i>Побликувано от <strong>@article.PostedByName</strong> на <strong>@article.PostedByDate.ToShortDateString()</strong></i>
                </div>
                <div class="col-12">
                    <hr />
                </div>
            }
        </div>
    </div>
    <div class="row col-3 justify-content-center">
        <form method="get">
            <div class="jumbotron" style="background-color: antiquewhite; ">
                <div class="form-group">
                    <label class="font-weight-light font-italic" style="font-size: 120%" asp-for="SearchTerm">Търсене:</label>
                    <input asp-for="SearchTerm" class="form-control" placeholder="Ключова дума..." />
                </div>
                <div class="form-group">
                    <label class="font-weight-lighter font-italic" style="font-size: 110%" asp-for="PostedByName">Автор</label>
                    <select asp-for="PostedByName" class="form-control">
                        <option value="">Всички</option>
                        @foreach (var name in Model.Names)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-lighter font-italic" style="font-size: 110%" asp-for="PostedByYear">Година</label>
                    <select asp-for="PostedByYear" class="form-control">
                        <option value="">Всички</option>
                        @foreach (var year in Model.Years)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-lighter font-italic" style="font-size: 110%" asp-for="PostedByMonth">Месец</label>
                    <select asp-for="PostedByMonth" class="form-control">
                        <option value="">Всички</option>
                        @foreach (var month in Model.Months)
                        {
                            <option value="@month">@month</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-light" value="Резултати" />
                </div>
            </div>
        </form>
    </div>
</div>

