@model IEnumerable<ShopItemServiceModel>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="card mb-5" style=" background-color: #ffcba4;
                                  background-size: cover;
                                  opacity: 0.85 ">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <div class="card-body">
            <h3 class="card-title display-3 text-center" style="text-shadow: 2px 2px 4px white; color: black">Онлайн Магазин</h3>
            <h5 class="card-text text-center" style="font-style: italic; text-shadow: 2px 2px 4px white; color: black">Пазарувайте с удоволствие и без мярка</h5>
        </div>
    </div>
    <div class="row col-10 offset-1">
        @foreach (var item in Model)
        {
            <div class="card text-center m-3" style="width: 18rem;">
                <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">
                    <img class="card-img-top" src="@item.MainImageUrl">
                </a>
                <div class="card-body">
                    <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">
                        <h5 class="card-title">@item.Name</h5>
                    </a>
                    <p class="card-text">цена: @item.Price лв.</p>
                    <a href="#" class="btn btn-sm btn-success">Добави в количка</a>
                </div>
            </div>
        }
    </div>
</div>
