@model PlaceServiceModel

@{
    ViewBag.Title = "Place Details";
}

<div class="container-fluid">
    <div class="row col-12">
        <div class="col-7">
            <h2 class="display-4 mb-4">@Model.Name</h2>
            <p class="m-0" style="font-style: italic">
                @{
                    var s = Model.DateCreated.ToString("dddd, dd MMMM yyyy");
                }
                Created on: @s
            </p>
            <p class="m-0" style="font-style: italic">Posted by: @Model.Username</p>
            <hr />
            <p class="m-0" style="font-style: italic">User ID: @Model.UserId</p>
            <p class="m-0" style="font-style: italic">Article ID: @Model.Id</p>
            <hr />
            <h5 class="mt-3" style="font-style: italic">Description:</h5>
            <p class="mb-4">@Model.Description</p>
            <hr />
            <p class="m=0" style="font-style: italic">Website: <a href="@Model.WebsiteLink" target="_blank">@Model.WebsiteLink</a></p>
            <p class="mb-3" style="font-style: italic">Since: @Model.SinceYear</p>
            <p class="m-0" style="font-style: italic">Located: @Model.Country, @Model.City</p>
            <p class="m-0" style="font-style: italic">Address: @Model.Address</p>
            <p class="m-0" style="font-style: italic">Coordinates: @Model.Location</p>
            <hr />
            <h5 class="mt-3 mb-3" style="font-style: italic">Social network:</h5>
            <p class="m=0" style="font-style: italic">Facebook: <a href="@Model.FacebookUrl" target="_blank">@Model.FacebookUrl</a></p>
            <p class="m=0" style="font-style: italic">Instagram: <a href="@Model.InstagramUrl" target="_blank">@Model.InstagramUrl</a></p>
            <p class="m=0" style="font-style: italic">Twitter: <a href="@Model.TwitterUrl" target="_blank">@Model.TwitterUrl</a></p>
            <hr />
            <h5 class="mt-3 mb-3" style="font-style: italic">Orders:</h5>
            <p class="m=0" style="font-style: italic">Foodpanda: <a href="@Model.FoodpandaUrl" target="_blank">@Model.FoodpandaUrl</a></p>
            <p class="m=0" style="font-style: italic">Glovo: <a href="@Model.GlovoUrl" target="_blank">@Model.GlovoUrl</a></p>
            <p class="m=0" style="font-style: italic">Takeaway: <a href="@Model.TakeawayUrl" target="_blank">@Model.TakeawayUrl</a></p>
        </div>
        <div class="col-5">
            <img src="@Model.LogoUrl" alt="img" class="img-thumbnail"/>
            <hr/>
            <img src="@Model.MainImageUrl" alt="img" class="img-thumbnail">
        </div>
    </div>
</div>