@model AllPlacesServiceModel

@{
    ViewBag.Title = "All Places";
}

<!--main Jumbotron at the bottom of the page-->
<div class="jumbotron jumbotron-fluid"
     style="background-image: url(https://res.cloudinary.com/dmflbhinu/image/upload/v1628994269/GelatoGuide/worldMap_igereh.jpg);
            background-size: cover;
            opacity: 0.85 ">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <h1 class="display-3" style="text-shadow: 2px 2px 4px white; color: black">Намерете Джелатерия</h1>
                <hr style="background: black" />
                <p class="lead">
                    <a class="btn btn-link btn-lg" asp-controller="Map" asp-action="Map" role="button">Потърсете в интерактивната ни Карта</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!--if there is no places added in the database-->
@if (Model == null)
{
    <div class="row text-center">
        <div class="col ">
            <h3 class="col-12">Все още няма добавени места.</h3>
            <br />
            <h4 class="col-12">Върнете се отново по-късно.</h4>
        </div>

    </div>
}

<!--if there are no places after search terms-->
@if (Model != null)
{
    if (!Model.Places.Any())
    {
        <div class="row text-center">
            <div class="col ">
                <h3 class="col-12">Няма резултати за показване.</h3>
            </div>

            <partial name="_SearchAreaPartial" model="Model" />
        </div>
    }
}

<!--Body-->
@if (Model != null && Model.Places.Any())
{
    <div class="row">
        <!-- Places gallery -->
        <div class="col-6 offset-3">
            <div class="row justify-content-center">
                @foreach (var place in Model.Places)
                {
                    <div class="container">
                        <a class="text-dark" asp-controller="Places" asp-action="Details" asp-route-id="@place.Id">
                            <div class="card mb-5">
                                <img class="card-img-top" src="@place.MainImageUrl" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@place.Name</h5>
                                    <p class="card-text">@place.Description</p>
                                    <i>Базирано в @place.Country, @place.City</i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>

        <!--search area-->
        <partial name="_SearchAreaPartial" model="Model" />

        <!--Previous and next page buttons-->
        @{
            var previousPage = Model.CurrentPage - 1;
            if (previousPage < 1)
            {
                previousPage = 1;
            }
            var nextPage = Model.CurrentPage + 1;

            var maxPagesCount = (int)Math.Ceiling((double)Model.TotalPlaces / AllPlacesServiceModel.PlacesPerPage);

            maxPagesCount = maxPagesCount < 1 ? 1 : maxPagesCount;
        }

        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <a class="btn btn-light @(Model.CurrentPage == 1 ? " disabled" : string.Empty)"
                       asp-controller="Places"
                       asp-action="All"
                       asp-route-CurrentPage="@previousPage"
                       asp-route-SearchTerm="@Model.SearchTerm"
                       asp-route-Country="@Model.Country"
                       asp-route-City="@Model.City">
                        Предишна
                    </a>
                </div>
                <div class="col col-auto">
                    <a class="btn btn-light @(Model.CurrentPage == maxPagesCount ? " disabled" : string.Empty)"
                       asp-controller="Places"
                       asp-action="All"
                       asp-route-CurrentPage="@nextPage"
                       asp-route-SearchTerm="@Model.SearchTerm"
                       asp-route-Country="@Model.Country"
                       asp-route-City="@Model.City">
                        Следваща
                    </a>
                </div>
            </div>
        </div>
    </div>
}
